# Игнорировать кэш Python
__pycache__
*.pyc
*.pyo
*.pyd

# Игнорировать конфигурационные файлы виртуального окружения
.env
.venv
env/
venv/

# Игнорировать скрытые файлы системы и редакторов
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Игнорировать систему контроля версий
.git
.gitignore

# Игнорировать временные файлы
tmp/
*.tmp

# Игнорировать скомпилированные C-файлы
*.out
*.obj

# Игнорировать данные и файлы загрузок
uploads/
